@import "tailwindcss";

.bgimg{
background-image: url(../public/hero1.png);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

/* import css pour react-grid-layout / react-resizable */
@import "~react-grid-layout/css/styles.css";
@import "~react-resizable/css/styles.css";
